*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Table Styles */

.table-wrapper{
    /* margin: 10px 70px 70px; */
    box-shadow: 0px 0px 50px rgba( 0, 0, 0, 0.05 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table #header th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table #header th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


/*form*/
.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
  tr th, tr td {
    width: 20%;
}

.setdata i{
    color: red;
    padding-left: 10px;
    display: none;
    float: right;
}
.error i{
    display: block;
}
#detail-table i:first-child{
    margin-right: 20px;
}
#detail-table i{
    cursor: pointer;
}
#email-valid{
    display: none;
}
.set-border{
    border: 1px solid #324960;
}